*.gem
*.rbc
.bundle
/tmp
.DS_Store
.rvmrc
*~
coverage/
.idea
node_modules
npm-debug.log
/.sass-cache
/log/*
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.jadeite-cache